// COLOR
$color-primary:  #9b163c;
$color-primary-light: #a83354;
$color-secondary: #dfab00;
$color-white: #fff;

// TYPOGRAPHY
$font-family-titles: 'Atma', cursive; 
$font-familt-paragraph: 'Raleway', sans-serif;

//FONT SIZE 
$font-size-s: 1rem;
$font-size-m: 1.6rem;

// SPACE
$space-s: 1rem;
