// COLOR
$color-primary: #FFC300;
$color-primary-light: #ffda60;
$color-secondary: #9b163c;
$color-white: #fff;


// TYPOGRAPHY
$font-family-titles: 'Atma', cursive; 
$font-familt-paragraph: 'Raleway', sans-serif;

//FONT SIZE 
$font-size-s: 1rem;
$font-size-m: 1.6rem;


// SPACE
$space-s: 1rem;
