* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    min-height: 100vh;
}

body {
    background: radial-gradient($color-primary-light, $color-primary);
    padding: $space-s;
}

.game__info {
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
    margin-bottom: $space-s;
}

.game {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: $space-s/2;
    justify-content: center;
    margin: $space-s;
    perspective: 600px;
}

.card {
    width: 6.5rem;
    height: 8.5rem;
    border: 5px solid $color-secondary;
    border-radius: 8px;
    position: relative;
    transition: .8s;
    transform-style: preserve-3d;
    
    img {
        width: 100%;
    }
}

.card__face {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    overflow: hidden;
}

.card__front {
    background-color:$color-white;
    transform: rotateY(180deg);
    
}

.card__back {
    background-color: $color-secondary;
}

.card.flip {
    transform: rotateY(180deg);
}

.overlay__text {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    font-weight: 700;
    font-family: $font-family-titles;
    color: $color-white;
}

.overlay__text.visible {
    display: flex;
    flex-direction: column;
    animation: overlayGrow 500ms forwards;
}

@keyframes overlayGrow {
    from {
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
    }

    to {
        background-color: rgba(0, 0, 0, .8);
        font-size: $font-size-m*3;
    }
}

.overlay__text--small {
    font-size: $font-size-m;
    
}





